/* styles-for-box.css */
* {
    margin: 0;
    padding: 0;
}

.box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: 400px;
    color: white;
    background-color: #000;
    font-weight: 700;
    line-height: 400px;
    text-align: center;
    font-family: sans-serif;
    text-transform: uppercase;
    border-radius: 3px;
    font-size: 30px;
}

.box::before,
.box::after {
    content: "";
    z-index: -1;
    position: absolute;
    width: calc(100% + 30px);
    height: calc(100% + 30px);
    top: -15px;
    left: -15px;
    border-radius: 8px;
    background: linear-gradient(45deg, #fff000, #00ff00, #0099ff, #5ebdd0, #5137d4, #ff0055, #ddff00, #0099ff, #00a1ff, #fff000);
    background-size: 300%;
    animation: border 12s linear infinite;
}

.box::after {
    filter: blur(50px);
}

@keyframes border {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 50%;
    }
    50% {
        background-position: 50% 100%;
    }
}

